@import '/src/assets/1-helpers/color.module';
@import '/src/assets/1-helpers/font.module';




.Create {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    // background-color: rgba(red, 10%);
    
}