@mixin webkit-scrollbar--($size) {
    &::-webkit-scrollbar {
        width: $size;
        border-radius: 5px;
        background-color: $color1;
        outline: 1.5px solid $stroke-color1;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: $stroke-color1;
    }
}
