@import '/src/assets/1-helpers/color.module';
@import '/src/assets/1-helpers/font.module';
@import '/src/assets/1-helpers/scrollbar.module';


.fill-gadget {

    // Placement
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  min-content min-content min-content min-content 1fr;
    margin-top: 5%;
    margin-bottom: 5rem;

    // Styling
    padding: 1rem 5%;
    padding-top: 0rem;
    border: 1px solid $stroke-color1;
    overflow-y: scroll;

    // &::
    @include  webkit-scrollbar--(.5rem);

}

.name-section {
    margin-top: 2rem;

    > p {
        color: $font-color1;
        @include M4();
    }

    > div:nth-child(2) {

        // Placement
        width: 100%;
        height: 1px;
        margin-top: .5rem;
        margin-bottom: 1rem;

        // Styling
        background-color: $stroke-color2;

    }

}

.description-section {
    margin-top: 2.5rem;
    > p {
        color: $font-color1;
        @include M4();
    }

    > div:nth-child(2) {

        // Placement
        width: 100%;
        height: 1px;
        margin-top: .5rem;
        margin-bottom: 1rem;

        // Styling
        background-color: $stroke-color2;

    }
    > textarea {

        // Placement 
        justify-self: center;
        width: 25rem;
        height: 15rem;
        margin-top: 1rem;

        // Styling
        padding: 0;
        resize: none;
        padding: 1rem;
        transition: .5s;
        box-sizing: border-box;
        border-radius: 5px;
        color: $font-color1;
        background-color: $color1;
        border: 1.5px solid $stroke-color1;

        // &::
        &:focus {
            outline: none;
            border: 1.5px solid $stroke-color2;
        }
        
    }

}
.tags-section {
    margin-top: 2.5rem;
    // background-color: rgba(white, 15%);

    > p {
        color: $font-color1;
        @include M4();
    }

    > div:nth-child(2) {

        // Placement
        width: 100%;
        height: 1px;
        margin-top: .5rem;
        margin-bottom: 1rem;

        // Styling
        background-color: $stroke-color2;

    }

    > div:nth-child(4) {

        // Placement
        display: flex;
        flex-direction: column;
        justify-self: center;
        height: 20rem;
        margin-top: 1rem;
        min-width: 25rem;
        margin-bottom: 2rem;
        margin-top: 1.5rem;

        // Styling
        row-gap: 1rem;
        overflow-y: scroll;

        // &::
        @include  webkit-scrollbar--(7.5px);

    }

}


.links-section { 
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;

    > p {
        color: $font-color1;
        @include M4();
    }

    > div:nth-child(2) {

        // Placement
        width: 100%;
        height: 1px;
        margin-top: .5rem;
        margin-bottom: 1rem;

        // Styling
        background-color: $stroke-color2;

    }

    > input {

        // Placement
        width: 25rem;
        height: 2.125rem;
        margin-bottom: 1rem;

        // Styling
        background: #2F2F2F;
        border: 1.5px solid #3A3A3A;
        box-sizing: border-box;
        border-radius: 5px;
        transition: .3s;
        color: $font-color1;
        padding-left: .5rem;

        // &::
        &:focus {
            outline: none;
        }

    }

    > button {

        // Styling
        background-color: $color2;
        border: none;
        color: $color3;
        @include B4();
        padding: 1rem 0;
        cursor: pointer;

    }
    
    > div:nth-child(6) {

        // Placement
        height: 20rem;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        // Styling
        overflow: auto;
        row-gap: 1rem;
    
        // &::
        @include  webkit-scrollbar--(7.5px);

    }
}


.save-button {

    // Placement
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5%;
    top: 2.5%;

    // Styling
    object-fit: contain;

}

