



.Input {
    img {
        align-self: 'center'; 
        justify-self: 'center'; 
        width: 4.6875rem;
        height: 4.6875rem; 
        border-radius: 50px;
        object-fit: cover;
        object-position: 0px 10%;

    }
}